<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/users" method="POST">
      <label for="name">
        Input name: <input name="name" type="name">
      </label>
      <label for="password">
        Input password: <input name="password" type="password">
      </label>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
