<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Peep here!</h1>
    <form action="/peeps" method="POST">
      <label for="peep">
        Peep: <input type="peep" name="peep"/>
      </label>
      <input type="submit" value="Peep"/>
    </form>
  </body>
</html>
